:root {
  --background-dark: #2f303a;
  --bacground-light: #e5e5e5;
  --backgound-grey: #f5f4fa;
  --background-header-n-photo: #ffffff;
  --txt-header-mail-n-phone-n-phototxt: #757575;
  --txt-blue: #2196f3;
  --txt-black: #212121;
  --txt-grey: rgba(255, 255, 255, 0.6);
  --borderline: #ececec;
  --blue-btn-hover: 188ce8;
}
/* ======= basic reset ======= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* ======= links-n-buttons ======= */
.link,
.header-link,
.footer-link,
.footer-adress-link,
.portfolio-photo-link {
  text-decoration: none;
}

.link:hover,
.link:focus,
.header-link:hover,
.header-link:focus,
.footer-link:hover,
.footer-link:focus,
.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--txt-blue);
}

.link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--txt-black);
}

.header-link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--txt-header-mail-n-phone-n-phototxt);
}

.footer-link {
  font-style: normal;
  line-height: 1.7;
  color: var(--txt-grey);
}

.footer-adress-link {
  font-style: normal;
  line-height: 1.7;
  color: var(--background-header-n-photo);
}

.btn {
  padding: 6px 22px 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  background: var(--backgound-grey);
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
}

.btn:last-child {
  margin-right: -8px;
}

.btn:hover,
.btn:focus,
.btn-blue {
  color: var(--background-header-n-photo);
  background: var(--txt-blue);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-blue {
  padding: 10px 32px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 4px;
}

.btn-blue:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ======= containers ======= */
.global-container {
  width: 1600px;
  border-bottom: 1px solid var(--borderline);
}

.container {
  width: 1200px;
  padding: 0 15px 0 15px;
}

.section {
  padding: 94px 0;
}

/* ====== hidden-n-special-logo ======*/
.hidden {
  display: none;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.3;
  text-decoration: none;
  color: var(--txt-black);
  margin-right: 92px;
}

.half-logo {
  color: var(--txt-blue);
}

/* ====== header ====== */

.header-section {
  display: flex;
  align-items: center;
  margin-left: 200px;
  width: 1600px;
}

.header-non-logo-div {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-logo-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;
  margin-right: 330px;
}

.nav-list-item {
  margin-right: 50px;
}

.nav-list-item:last-child {
  margin-right: 0;
}
/* ====== body section ====== */
li {
  list-style-type: none;
}

.main {
  background: var(--background-light);
}

.main-portfolio {
  background: var(--background-light);
  margin-left: 200px;
}

.hero-section {
  color: var(--background-header-n-photo);
  background: var(--background-dark);
  text-align: center;
  display: inline-block;
  /*пока не будет фона*/
  height: 600px;
  width: 1600px;
}

.hero-div {
  width: 696px;
  flex-wrap: wrap;
  margin-left: 452px;
  margin-top: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.central-section p {
  color: var(--txt-header-mail-n-phone-n-phototxt);
  line-height: 1.7;
}

.studio-central-div {
  margin-left: 200px;
}

.central-info-list {
  display: flex;
  padding-top: 94px;
}

.central-info-list-heading {
  margin-bottom: 10px;
  color: var(--txt-black);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.central-info-list-item {
  width: 270px;
  flex-wrap: wrap;
  margin-right: 30px;
}

.central-info-list-item:last-child {
  margin-right: 0;
}

.team-section {
  width: 1600px;
  background: var(--backgound-grey);
}

.title2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.first-page-photos {
  display: flex;
  justify-content: space-between;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list-pic {
  margin-right: 30px;
  background-color: var(--background-header-n-photo);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-pic:last-child {
  margin-right: 0px;
}

.team-names {
  color: var(--txt-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  padding-top: 30px;
  text-align: center;
}

.team-proffesion {
  color: var(--txt-header-mail-n-phone-n-phototxt);
  text-align: center;
  padding-bottom: 30px;
}

/* =======  portfolio page main ======= */

.portfolio-btn-section {
  text-align: center;
  padding: 78px 0 50px 0;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}

.portfolio-pics {
  display: inline-block;
  text-align: start;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-pics-last {
  margin-right: 0;
}

.portfolio-pic-names-descr {
  border-left: 1px solid var(--borderline);
  border-right: 1px solid var(--borderline);
  border-bottom: 1px solid var(--borderline);
  padding: 20px 24px;
}

.portfolio-pic-names {
  color: var(--txt-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-descript {
  color: var(--txt-header-mail-n-phone-n-phototxt);
  font-size: 16px;
  line-height: 1.9;
}

/*===== footer section =====*/
.footer-section {
  width: 1600px;
  padding-top: 60px;
  padding-left: 215px;
  background: var(--background-dark);
}

.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--background-header-n-photo);
}

.footer-adress-list {
  margin-top: 20px;
  padding-bottom: 60px;
}
